.text-field {
  width: 100%;
  height: 42px;

  border-radius: 8px;
  border: 1px solid #d0d7de;

  background-color: #fff;

  input {
    width: 100%;
    height: 100%;

    padding: 6px 12px;

    color: #1f2328;
    font-size: 18px;
    line-height: 20px;
    &::placeholder {
      color: #969896;
    }
  }
}
