.music-store {
  width: 100%;

  display: flex;
  justify-content: space-between;
  gap: 20px;

  .play-list-control {
    width: 500px;
  }

  .play-list {
    margin: 50px 0 0;

    li {
      position: relative;

      display: flex;
      gap: 10px;

      padding: 0 0 16px;
    }

    .play-list-thumbnail {
      width: 168px;
      height: 94px;

      flex-shrink: 0;

      img {
        width: 100%;
        height: 100%;

        border-radius: 10px;

        object-fit: cover;
      }
    }

    .play-list-info {
      padding: 6px 0 0;
      strong {
        padding: 0 34px 0 0;

        color: #1f2328;
        font-size: 18px;
        font-weight: 700;
        line-height: 20px;
      }
      p {
        padding: 6px 0 0;
        color: #969896;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        word-break: break-all;

        a {
          text-decoration: underline;
        }
      }
    }

    .button-remove {
      position: absolute;
      right: 0;
      top: 0;

      color: #969896;
      font-size: 14px;
      font-weight: 300;
      line-height: 18px;
      text-decoration: underline;

      cursor: pointer;
    }
  }
}
