.music-store {
  width: 100%;

  display: flex;
  justify-content: space-between;
  gap: 20px;

  .play-list-control {
    width: 500px;
  }

  .play-list-resister {
    width: 100%;
    padding: 30px 20px;

    .button-modal-close {
      display: flex;

      margin: 20px auto 0;
    }
  }

  .play-list {
    margin: 50px 0 0;

    li {
      position: relative;

      display: flex;
      gap: 10px;

      padding: 8px 10px;
      &.active {
        &::before {
          content: "";

          width: 100%;
          height: 100%;

          position: absolute;
          left: 0;
          top: 0;

          border-radius: 10px;

          background-color: rgba(0, 0, 0, 0.05);
        }
      }
    }

    .play-list-thumbnail {
      width: 168px;
      height: 94px;

      flex-shrink: 0;

      img {
        width: 100%;
        height: 100%;

        border-radius: 10px;

        object-fit: cover;
      }
    }

    .play-list-info {
      padding: 6px 0 0;
      strong {
        padding: 0 34px 0 0;

        color: #1f2328;
        font-size: 18px;
        font-weight: 700;
        line-height: 20px;
      }
      p {
        padding: 6px 0 0;
        color: #969896;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        word-break: break-all;

        a {
          text-decoration: underline;
        }
      }
    }

    .button-item {
      width: 100%;
      height: calc(100% - 16px);

      position: absolute;
      left: 0;
      top: 0;
    }

    .button-remove {
      width: 20px;
      height: 20px;

      position: absolute;
      right: 8px;
      top: 8px;

      color: #969896;
      font-size: 12px;
      font-weight: 300;
      line-height: 14px;

      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .play-view-title {
    margin: 30px 0 0;

    color: #1f2328;
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
  }

  .comment {
    margin: 40px 0 0;

    .comment-text-area {
      width: 100%;
      height: 84px;

      margin: 0 0 20px;

      border-radius: 8px;
      border: 1px solid #d0d7de;

      background-color: #fff;
      textarea {
        width: 100%;
        height: 100%;

        padding: 12px;

        color: #1f2328;
        font-size: 18px;
        line-height: 20px;

        resize: none;
      }
    }
    .comment-list {
      li {
        position: relative;
      }
      .comment-list-button {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
}
